:root {
  --VazirFont: "Vazirmatn", sans-serif, arial, helvetica;
  --OswaldFont: "Oswald", sans-serif, arial, helvetica;
  --BarlowLightFont: "Barlow-Light", sans-serif, arial, helvetica;
  --BarlowMediumFont: "Barlow-Medium", sans-serif, arial, helvetica;
  --Lime: #cbe601;
  --White: #f5f5f5;
  --DarkGray: #79797b;
  --BgBody: #e8e6e9;
  --Dark: #111;
}

body {
  font-family: var(--OswaldFont);
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--BgBody);
}

.resume-header {
  position: relative;
  min-width: 100%;
}

#resume-lang__btn {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: var(--Lime);
  color: var(--Dark);
  font-size: 1.8rem;
  font-family: var(--VazirFont);
  border-radius: 50%;
  z-index: 100;
}

.resume-header__line {
  position: absolute;
  top: 7.3rem;
  left: 0;
  min-width: 100%;
  height: 5rem;
  background-color: var(--Lime);
}

.resume-header-container {
  position: relative;
}

.resume-header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 100%;
  background-color: var(--Dark);
}

.resume-profile {
  position: relative;
}

.resume-profile__img {
  display: block;
  aspect-ratio: 9/16;
  width: auto;
  height: 20rem;
  background-color: #00000069;
}

.resume-profile__texts {
  position: absolute;
  top: 50%;
  left: -1.1rem;
  transform: translate(0%, -50%) translateZ(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-profile__text {
  font-size: 2rem;
  font-family: var(--BarlowMediumFont);
  font-weight: 500;
}

.resume-header-container__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.resume-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 20rem;
  padding-left: 1rem;
  width: 100%;
}

.resume-profile-info__username {
  font-size: 4rem;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
}

.resume-profile-info__name {
  font-weight: 200;
}

.resume__lastname {
  font-weight: 400;
}

.resume-profile-info__filed {
  font-size: 2.6rem;
  font-weight: 300;
  font-family: var(--BarlowLightFont);
  width: 100%;
}

.resume-profile-info__list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
}

.resume-profile-info__item {
}

.resume-profile-info__description {
  text-indent: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: solid 2rem var(--Lime);
}

/* 
// Main Content //
*/

.main {
  margin-top: 2rem;
}

.skills-education {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-education__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.resume-section__titles {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.skills__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  font-size: 2.2rem;
  font-family: var(--BarlowLightFont);
  font-weight: 300;
  width: 100%;
}

.skills-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}

.skills-item__title {
}

.skills-item__progress {
  position: relative;
  height: 0.6rem;
  min-width: 12rem;
  background-color: #cecece;
  border-radius: 0.1rem;
  overflow: hidden;
}

.skills-item__progress--deactive {
  display: none;
}

.skills-item__progress::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 0.6rem;
  width: var(--skill-level, 0%);
  background-color: var(--progress-color);
  border-radius: 0.2rem;
  box-shadow: inset 0px 0px 3px 0px #00000017;
}

.education__list {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  flex-direction: column;
  width: 100%;
  min-height: 37rem;
}

.education__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 100%;
  background-color: var(--Dark);
}

.education-item {
  position: relative;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.education-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.4rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--Dark);
}

.education-item__date {
  font-size: 2.2rem;
  color: var(--DarkGray);
  font-family: var(--BarlowMediumFont);
  font-weight: 500;
}

.education-item__collage {
  font-size: 2.2rem;
  font-weight: 400;
}

.education-item__field {
  font-size: 2rem;
  font-family: var(--BarlowLightFont);
  font-weight: 300;
}

.experience-portfolio {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.experience-portfolio__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.experience__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.experience-item {
  padding-left: 2rem;
  border-left: solid 1rem var(--Lime);
}

.experience-item__date {
  font-size: 2.2rem;
  color: var(--DarkGray);
}

.experience-item__decription {
  margin-top: 1rem;
  font-size: 1.8rem;
  text-indent: 1rem;
}

.portfolio-container {
}

.resume-section__caption {
  margin-top: 1rem;
  font-size: 1.8rem;
  text-indent: 1rem;
}

.portfolio__list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 2rem;
}

.portfolio-item {
}

.portfolio-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--Lime);
  transition: all 0.3s ease-in-out;
}

.portfolio-item__link:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.05) translateZ(0);
  background-color: var(--White);
}

.portfolio-item__link:hover .portfolio-item__img {
  filter: grayscale(0%);
}

.portfolio-item__link:visited {
  background-color: var(--White) !important;
}

.portfolio-item__link:visited .portfolio-item__img {
  filter: grayscale(0%) !important;
}

.portfolio-item__img {
  object-fit: cover;
  aspect-ratio: 5/4;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.portfolio-item__caption {
  font-family: var(--BarlowMediumFont);
  font-weight: 500;
  font-weight: 500;
  font-size: 2rem;
  color: var(--Dark);
  text-align: center;
}

.portfolio-item__comingsoon {
  font-family: var(--BarlowMediumFont);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--DarkGray);
  text-align: center;
}

html[lang="fa-IR"] body {
  font-family: var(--VazirFont);
}

html[lang="fa-IR"] #resume-lang__btn {
  right: unset;
  left: 1rem;
}

html[lang="fa-IR"] .resume-header-container::after {
  left: auto;
  right: 0;
}

html[lang="fa-IR"] .resume-profile__texts {
  left: unset;
  right: -1.1rem;
}

html[lang="fa-IR"] .resume-profile-info__description {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: solid 2rem var(--Lime);
}

html[lang="fa-IR"] .education__list::before {
  left: unset;
  right: 0;
}

html[lang="fa-IR"] .education-item {
  padding-left: 0;
  padding-right: 1rem;
}

html[lang="fa-IR"] .education-item::before {
  left: unset;
  right: -0.4rem;
}

html[lang="fa-IR"] .experience-item {
  padding-left: 0;
  padding-right: 1rem;
  border-left: 0;
  border-right: solid 1rem var(--Lime);
}
/* 
test for tree shape in git
*/
