:root {
  --VazirFont: "Vazirmatn", sans-serif, arial, helvetica;
  --MozillaFont: "Mozilla Text", sans-serif, arial, helvetica;
  --EduNSWACTFont: "Edu NSW ACT Cursive", sans-serif, arial, helvetica;
}

body {
  font-family: var(--MozillaFont);
  font-optical-sizing: auto;
  font-style: normal;
  aspect-ratio: 9 / 16;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume__container {
  
}

.resume__profile {
}

.header__title {
}

.resume__wrapper {
}

.resume__name {
}

.resume__lastname {
}

.resume__field {
}

.resume__list {
}

.resume-list__item {
}

.resume__description {
}
