@media (min-width: 390px) {
  .resume-header__line {
    top: 13.25rem;
  }

  .resume-profile__img {
    height: 32rem;
  }
}

@media (min-width: 420px) {
  .resume-header__line {
    top: 15.6rem;
  }

  .resume-profile__img {
    height: 37rem;
  }
}

@media (min-width: 480px) {
  .resume-header__line {
    top: 16rem;
  }

  .resume-profile-info {
    height: 26rem;
    padding-left: 3rem;
  }

  .resume-profile-info__username {
    font-size: 5rem;
  }

  .resume-profile-info__filed {
    font-size: 3rem;
  }

  .resume-profile-info__list {
    font-size: 1.7rem;
  }
}

@media (min-width: 520px) {
  .resume-profile__img {
    margin-left: 4rem;
  }

  .resume-profile__texts {
    width: 2rem;
    left: 0.8rem;
    flex-direction: column-reverse;
    height: 2rem;
  }

  .resume-profile__texts--right {
    left: unset;
    right: 0.8rem;
  }

  .resume-profile__text {
    transform: rotateZ(-90deg) translateZ(0);
    font-size: 4.6rem;
    line-height: 2rem;
  }

  .resume-profile-info {
    padding-left: 3rem;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  p {
    font-size: 1.8rem;
  }

  .resume-header__line {
    top: 18.5rem;
    height: 7rem;
  }

  .resume-profile-info {
    gap: 2rem;
  }

  .resume-profile__texts {
    transform: translate(0%, 120%) translateZ(0);
  }

  .resume-profile-info__username {
    font-size: 7rem;
  }

  .resume-profile-info__filed {
    font-size: 5rem;
  }

  .resume-profile-info__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;
  }

  .resume-profile-info__item {
    font-size: 1.8rem;
    padding-left: 1rem;
    border-left: solid 0.2rem var(--Dark);
  }

  .skills-education {
    flex-wrap: nowrap;
  }

  .skills-education__wrapper {
    flex-basis: 50%;
  }

  .portfolio__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 992px) {
  .resume-header__line {
    top: 19.3rem;
  }

  .resume-profile-info__item:first-child {
    border-left: none;
    padding-left: 0;
  }

  .skills-education {
    flex-direction: column;
    justify-content: space-around;
    gap: none;
    min-height: 100%;
  }

  .skills-education__wrapper {
    flex-basis: none;
  }

  .experience-portfolio {
    padding-left: 8rem;
  }

  html[lang="fa-IR"] .experience-portfolio {
    padding-left: 0;
    padding-right: 8rem;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .portfolio__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 3rem;
  }
}
